openapi: 3.0.0
info:
  title: ''
  version: '2024-06-15'
servers:
  -
    url: 'https://api.wethod.com'
paths:
  '/api/budgets/{id}:approve':
    post:
      tags: [Budget]
      summary: 'Approve a budget'
      description: "This endpoint allows you to approve a budget which has been submitted for approval.\n\nRequired permissions:\n- **budget.approve**: allows to approve budgets of projects where the user is the PM or the Account.\n- **budget.approve_other**: allows to approve budgets of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: approveBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to approve', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ApproveBudgetDto' } } } }
      responses: { 200: { description: 'Returns the budget updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budget-areas:
    get:
      tags: ['Budget Area']
      summary: 'List budget areas'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgetAreas
      parameters: [{ name: budget_id, in: query, description: 'Filter items by the budget_id field.', required: false, schema: { type: integer, default: null, minimum: 0 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budget areas.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetAreaDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    post:
      tags: ['Budget Area']
      summary: 'Create a budget area'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: createBudgetArea
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateBudgetAreaDto' } } } }
      responses: { 201: { description: 'Returns the created budget area.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetAreaDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/budget-areas/{id}':
    get:
      tags: ['Budget Area']
      summary: 'Get a budget area'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudgetArea
      parameters: [{ name: id, in: path, description: 'The ID of the budget area to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget area.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetAreaDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: ['Budget Area']
      summary: 'Update a budget area'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: updateBudgetArea
      parameters: [{ name: id, in: path, description: 'The ID of the budget area to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateBudgetAreaDto' } } } }
      responses: { 200: { description: 'Returns the updated budget area.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetAreaDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budgets/{id}:set-baseline':
    post:
      tags: [Budget]
      summary: 'Set the new budget baseline'
      description: "Required permissions:\n- **budget.edit_baseline**: allows editing the baseline of a budget.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: setBaseline
      parameters: [{ name: id, in: path, description: 'The ID of the new budget baseline', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the updated budget.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budgets:
    get:
      tags: [Budget]
      summary: 'List budgets'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgets
      parameters: [{ name: project_id, in: query, description: 'Filter items by the project_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budgets.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    post:
      tags: [Budget]
      summary: 'Create a budget'
      description: "Required permissions:\n- **budget.create**: allows creating a budget for a project where the user is the PM or the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: createBudget
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateBudgetDto' } } } }
      responses: { 201: { description: 'Returns the created budget.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/budgets/{id}':
    get:
      tags: [Budget]
      summary: 'Get a budget'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: [Budget]
      summary: 'Update a budget'
      description: "Required permissions:\n- **budget.edit**: allows editing budgets where the user is the PM or the Account.\n- **budget.edit_other**: allows editing budgets where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: updateBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateBudgetDto' } } } }
      responses: { 200: { description: 'Returns the updated budget.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budget-days:
    get:
      tags: ['Budget Day']
      summary: 'List budget days'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgetDays
      parameters: [{ name: budget_task_id, in: query, description: 'Filter items by the budget_task_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budget days.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetDayDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budget-days/{id}':
    get:
      tags: ['Budget Day']
      summary: 'Get a budget day'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudgetDay
      parameters: [{ name: id, in: path, description: 'The ID of the budget day to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget day.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDayDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: ['Budget Day']
      summary: 'Update a budget day'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: updateBudgetDay
      parameters: [{ name: id, in: path, description: 'The ID of the budget day to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateBudgetDayDto' } } } }
      responses: { 200: { description: 'Returns the updated budget day.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDayDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budgets/{id}:draft':
    post:
      tags: [Budget]
      summary: 'Draft a budget'
      description: "This endpoint allows you to draft a budget which has been approved.\nA new version of the budget will be created with the status \"DRAFT\".\n\nRequired permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: draftBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to draft', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the budget updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budget-job-titles:
    get:
      tags: ['Budget Job Title']
      summary: 'List budget job titles'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgetJobTitles
      parameters: [{ name: budget_id, in: query, description: 'Filter items by the budget_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: job_title_id, in: query, description: 'Filter items by the job_title_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budget job titles.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetJobTitleDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budget-job-titles/{id}':
    get:
      tags: ['Budget Job Title']
      summary: 'Get a budget job title'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudgetJobTitle
      parameters: [{ name: id, in: path, description: 'The ID of the budget job title to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget job title.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetJobTitleDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budget-price-list-levels:
    get:
      tags: ['Budget Price List Level']
      summary: 'List budget price list levels'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgetPriceListLevels
      parameters: [{ name: budget_id, in: query, description: 'Filter items by the budget_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budget price list levels.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetPriceListLevelDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budget-price-list-levels/{id}':
    get:
      tags: ['Budget Price List Level']
      summary: 'Get a budget price list level'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudgetPriceListLevel
      parameters: [{ name: id, in: path, description: 'The ID of the budget price list level to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget price list level.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetPriceListLevelDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budgets/{id}:recall':
    post:
      tags: [Budget]
      summary: 'Recall a budget'
      description: "This endpoint allows you to recall a budget which has been submitted for approval.\n\nRequired permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: recallBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to recall', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the budget updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budgets/{id}:reject':
    post:
      tags: [Budget]
      summary: 'Reject a budget'
      description: "This endpoint allows you to reject a budget which has been submitted for approval.\n\nRequired permissions:\n- **budget.approve**: allows to reject budgets of projects where the user is the PM or the Account.\n- **budget.approve_other**: allows to reject budgets of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: rejectBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to reject', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/RejectBudgetDto' } } } }
      responses: { 200: { description: 'Returns the budget updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/budgets/{id}:submit':
    post:
      tags: [Budget]
      summary: 'Submit a budget'
      description: "This endpoint allows you to submit a budget for approval.\n\nRequired permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: submitBudget
      parameters: [{ name: id, in: path, description: 'The ID of the budget to submit', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/SubmitBudgetDto' } } } }
      responses: { 200: { description: 'Returns the budget updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/budget-tasks:
    get:
      tags: ['Budget Task']
      summary: 'List budget tasks'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: listBudgetTasks
      parameters: [{ name: budget_area_id, in: query, description: 'Filter items by the budget_area_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of budget tasks.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BudgetTaskDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    post:
      tags: ['Budget Task']
      summary: 'Create a budget task'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: createBudgetTask
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateBudgetTaskDto' } } } }
      responses: { 201: { description: 'Returns the budget task created.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetTaskDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/budget-tasks/{id}':
    get:
      tags: ['Budget Task']
      summary: 'Get a budget task'
      description: "Required permissions:\n- **budget.view**: allows view resources of projects where the user is the PM or the Account.\n- **budget.view_other**: allows view resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: getBudgetTask
      parameters: [{ name: id, in: path, description: 'The ID of the budget task to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested budget task.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetTaskDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    delete:
      tags: ['Budget Task']
      summary: 'Delete a budget task'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: deleteBudgetTask
      parameters: [{ name: id, in: path, description: 'The ID of the budget task to delete', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Budget task successfully deleted.' }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: ['Budget Task']
      summary: 'Update a budget task'
      description: "Required permissions:\n- **budget.edit**: allows edit resources of projects where the user is the PM or the Account.\n- **budget.edit_other**: allows edit resources of projects where the user is not the PM nor the Account.\n\n[Here the dedicated support page](https://support.wethod.com/budget/index/)."
      operationId: updateBudgetTask
      parameters: [{ name: id, in: path, description: 'The ID of the budget task to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateBudgetTaskDto' } } } }
      responses: { 200: { description: 'Returns the budget task updated.', content: { application/json: { schema: { $ref: '#/components/schemas/BudgetTaskDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/business-units:
    get:
      tags: ['Business Unit']
      summary: 'List business units'
      description: "Required permissions:\n- **settings.company**: allows view of company business units."
      operationId: listBusinessUnits
      parameters: [{ name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of business units set for the company.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BusinessUnitDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/business-units/{id}':
    get:
      tags: ['Business Unit']
      summary: 'Get a business unit'
      description: "Required permissions:\n- **settings.company**: allows view of company business units."
      operationId: getBusinessUnit
      parameters: [{ name: id, in: path, description: 'The ID of the business unit to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested business unit.', content: { application/json: { schema: { $ref: '#/components/schemas/BusinessUnitDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/clients:
    get:
      tags: [Client]
      summary: 'List clients'
      description: "Required permissions:\n- **crm.view**: allows view all resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#client-list)."
      operationId: listClients
      parameters: [{ name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { name: deleted, in: query, description: 'Filter items by deletion status.', required: false, schema: { type: string, default: exclude, enum: [exclude, include, only] } }, { name: deleted_at, in: query, description: 'Filter items by the deleted_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of clients', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/ClientDTO' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/clients/{id}':
    get:
      tags: [Client]
      summary: 'Get a client'
      description: "Required permissions:\n- **crm.view**: allows view all resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#client-list)."
      operationId: getClient
      parameters: [{ name: id, in: path, description: 'The ID of the client to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { name: deleted, in: query, description: 'Filter items by deletion status.', required: false, schema: { type: string, default: exclude, enum: [exclude, include, only] } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested client.', content: { application/json: { schema: { $ref: '#/components/schemas/ClientDTO' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/client:
    post:
      tags: [Client]
      summary: 'Create a client'
      description: "Required permissions:\n- **crm.edit**: allows to create resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#client-list)."
      operationId: createClient
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateClientDto' } } } }
      responses: { 201: { description: 'Returns the client created.', content: { application/json: { schema: { $ref: '#/components/schemas/ClientDTO' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/client/{id}':
    delete:
      tags: [Client]
      summary: 'Delete a client'
      description: "Required permissions:\n- **crm.edit**: allows to delete resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#client-list)."
      operationId: deleteClient
      parameters: [{ name: id, in: path, description: 'The ID of the client to delete', required: true, schema: { type: integer } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Client successfully deleted.' }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: [Client]
      summary: 'Update a client'
      description: "Required permissions:\n- **crm.edit**: allows to update resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#client-list)."
      operationId: updateClient
      parameters: [{ name: id, in: path, description: 'The ID of the client to update', required: true, schema: { type: integer } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateClientDto' } } } }
      responses: { 200: { description: 'Returns the client updated.', content: { application/json: { schema: { $ref: '#/components/schemas/ClientDTO' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/contacts:
    get:
      tags: [Contact]
      summary: 'List contacts'
      description: "Required permissions:\n- **crm.view**: allows view resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#contacts-1)."
      operationId: listContacts
      parameters: [{ name: client_id, in: query, description: 'Filter items by the client_id field.', required: false, schema: { type: integer, default: null, minimum: 0 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of contacts.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/ContactDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/contacts/{id}':
    get:
      tags: [Contact]
      summary: 'Get a contact'
      description: "Required permissions:\n- **crm.view**: allows view resources.\n\n [Here the dedicated support page](https://support.wethod.com/finance/index/#contacts-1)."
      operationId: getContact
      parameters: [{ name: id, in: path, description: 'The ID of the contact to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested contact.', content: { application/json: { schema: { $ref: '#/components/schemas/ContactDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/contact:
    post:
      tags: [Contact]
      summary: 'Create a contact'
      description: "Required permissions:\n- **crm.edit**: allows edit resources.\n\n [Here the dedicated support page](https://support.wethod.com/finance/index/#contacts-1)."
      operationId: createContact
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateContactRequestDTO' } } } }
      responses: { 201: { description: 'Returns the contact created.', content: { application/json: { schema: { $ref: '#/components/schemas/ContactDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/contact/{id}':
    delete:
      tags: [Contact]
      summary: 'Delete a contact'
      description: "Required permissions:\n- **crm.edit**: allows edit resources.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#contacts-1)."
      operationId: deleteContact
      parameters: [{ name: id, in: path, description: 'The ID of the contact to delete', required: true, schema: { type: integer } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Contact successfully deleted.' }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: [Contact]
      summary: 'Update a contact'
      description: "Required permissions:\n- **crm.edit**: allows edit resources.\n\n [Here the dedicated support page](https://support.wethod.com/finance/index/#contacts-1)."
      operationId: updateContact
      parameters: [{ name: id, in: path, description: 'The ID of the contact to update', required: true, schema: { type: integer } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateContactRequestDTO' } } } }
      responses: { 200: { description: 'Returns the contact updated.', content: { application/json: { schema: { $ref: '#/components/schemas/ContactDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/person-payrolls:
    get:
      tags: [Payroll]
      summary: 'List person payrolls'
      description: "Required permissions:\n- **payroll.employees**: allows view of person payrolls."
      operationId: listPersonPayrolls
      parameters: [{ name: person_id, in: query, description: 'Filter items by the person_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: business_unit_id, in: query, description: 'Filter items by the business_unit_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of person payrolls.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/EmployeePayrollDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    post:
      tags: [Payroll]
      summary: 'Create a person payroll'
      description: "Required permissions:\n- **payroll.employees**: allows creating person payrolls."
      operationId: createPersonPayroll
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateEmployeePayrollDto' } } } }
      responses: { 201: { description: 'Returns the person payroll created.', content: { application/json: { schema: { $ref: '#/components/schemas/EmployeePayrollDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/person-payrolls/{id}':
    get:
      tags: [Payroll]
      summary: 'Get a person payroll'
      description: "Required permissions:\n- **payroll.employees**: allows view of person payrolls."
      operationId: getPersonPayroll
      parameters: [{ name: id, in: path, description: 'The ID of the person payroll to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested person payroll.', content: { application/json: { schema: { $ref: '#/components/schemas/EmployeePayrollDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    delete:
      tags: [Payroll]
      summary: 'Delete a person payroll'
      description: "Required permissions:\n- **payroll.employees**: allows deleting person payrolls."
      operationId: deletePersonPayroll
      parameters: [{ name: id, in: path, description: 'The ID of the person payroll to delete', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Person payroll successfully deleted.' }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: [Payroll]
      summary: 'Update a person payroll'
      description: "Required permissions:\n- **payroll.employees**: allows updating person payrolls."
      operationId: updatePersonPayroll
      parameters: [{ name: id, in: path, description: 'The ID of the person payroll to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateEmployeePayrollDto' } } } }
      responses: { 200: { description: 'Returns the person payroll updated.', content: { application/json: { schema: { $ref: '#/components/schemas/EmployeePayrollDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/holidays:
    get:
      tags: [Holiday]
      summary: 'List holidays'
      description: "Required permissions:\n- **settings.company**: allows view of company holidays.\n\n[Here the dedicated support page](https://support.wethod.com/settings/index/#bank-holidays-planner)."
      operationId: listHolidays
      parameters: [{ name: location_id, in: query, description: 'Filter items by the location_id field.', required: false, schema: { type: integer, default: null, minimum: 0 } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { name: deleted, in: query, description: 'Filter items by deletion status.', required: false, schema: { type: string, default: exclude, enum: [exclude, include, only] } }, { name: deleted_at, in: query, description: 'Filter items by the deleted_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of holidays set for the company.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/HolidayDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    post:
      tags: [Holiday]
      summary: 'Create a holiday'
      description: "Required permissions:\n- **settings.company**: allows to create resources.\n\n[Here the dedicated support page](https://support.wethod.com/settings/index/#bank-holidays-planner)."
      operationId: createHoliday
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CreateHolidayDto' } } } }
      responses: { 201: { description: 'Returns the holiday created.', content: { application/json: { schema: { $ref: '#/components/schemas/HolidayDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
      parameters: [{ $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
  '/api/holidays/{id}':
    get:
      tags: [Holiday]
      summary: 'Get a holiday'
      description: "Required permissions:\n- **settings.company**: allows view of company holidays.\n\n[Here the dedicated support page](https://support.wethod.com/settings/index/#bank-holidays-planner)."
      operationId: getHoliday
      parameters: [{ name: id, in: path, description: 'The ID of the holiday to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { name: deleted, in: query, description: 'Filter items by deletion status.', required: false, schema: { type: string, default: exclude, enum: [exclude, include, only] } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested holiday.', content: { application/json: { schema: { $ref: '#/components/schemas/HolidayDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    delete:
      tags: [Holiday]
      summary: 'Delete a holiday'
      description: "Required permissions:\n- **settings.company**: allows to delete resources.\n\n[Here the dedicated support page](https://support.wethod.com/settings/index/#bank-holidays-planner)."
      operationId: deleteHoliday
      parameters: [{ name: id, in: path, description: 'The ID of the holiday to delete', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Holiday successfully deleted.' }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    patch:
      tags: [Holiday]
      summary: 'Update a holiday'
      description: "Required permissions:\n- **settings.company**: allows to update resources.\n\n[Here the dedicated support page](https://support.wethod.com/settings/index/#bank-holidays-planner)."
      operationId: updateHoliday
      parameters: [{ name: id, in: path, description: 'The ID of the holiday to update', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/UpdateHolidayDto' } } } }
      responses: { 200: { description: 'Returns the holiday updated.', content: { application/json: { schema: { $ref: '#/components/schemas/HolidayDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/holidays/{holiday_id}/locations':
    get:
      tags: [Holiday]
      summary: 'List holiday locations'
      description: "Required permissions:\n- **settings.company**: allows listing holiday locations.\n\n[Here the dedicated support page](https://support.wethod.com/locations/index/)."
      operationId: listHolidayLocations
      parameters: [{ name: holiday_id, in: path, description: 'The ID of the holiday', required: true, schema: { type: string, pattern: '[0-9]+' } }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { name: deleted, in: query, description: 'Filter items by deletion status.', required: false, schema: { type: string, default: exclude, enum: [exclude, include, only] } }, { name: deleted_at, in: query, description: 'Filter items by the deleted_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of holiday locations', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/HolidayLocationDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/holidays/{holiday_id}/locations/{location_id}':
    post:
      tags: [Holiday]
      summary: 'Attach location to holiday'
      description: "This endpoint allows you to attach a location to a holiday.\n\nRequired permissions:\n- **settings.company**: allows to manage location holidays.\n\n[Here the dedicated support page](https://support.wethod.com/locations/index/)."
      operationId: attachLocationToHoliday
      parameters: [{ name: holiday_id, in: path, description: 'The ID of the holiday', required: true, schema: { type: string, pattern: '[0-9]+' } }, { name: location_id, in: path, description: 'The ID of the location to attach to the holiday', required: true, schema: { type: string, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Location successfully attached to holiday', content: { application/json: { schema: { $ref: '#/components/schemas/HolidayLocationDto' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
    delete:
      tags: [Holiday]
      summary: 'Detach location from holiday'
      description: "This endpoint allows you to detach a location from a holiday.\n\nRequired permissions:\n- **settings.company**: allows to manage location holidays.\n\n[Here the dedicated support page](https://support.wethod.com/locations/index/)."
      operationId: detachLocationFromHoliday
      parameters: [{ name: holiday_id, in: path, description: 'The ID of the holiday', required: true, schema: { type: string, pattern: '[0-9]+' } }, { name: location_id, in: path, description: 'The ID of the location to detach from the holiday', required: true, schema: { type: string, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Location successfully detached from holiday' }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/invoice-contacts:
    get:
      tags: [Invoice]
      summary: 'List invoice contacts'
      operationId: listInvoiceContacts
      parameters: [{ name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the list of invoice contacts.', content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/InvoiceContactDto' } } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  '/api/invoice-contacts/{id}':
    get:
      tags: [Invoice]
      summary: 'Get an invoice contact'
      operationId: getInvoiceContact
      parameters: [{ name: id, in: path, description: 'The ID of the invoice contact to view', required: true, schema: { type: integer, pattern: '[0-9]+' } }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
      responses: { 200: { description: 'Returns the requested invoice contact.', content: { application/json: { schema: { $ref: '#/components/schemas/InvoiceContactDto' } } } }, 400: { description: 'Validation failed', content: { application/json: { schema: { $ref: '#/components/schemas/ValidationFailedResponse' } } } }, 401: { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/UnauthorizedResponse' } } } }, 403: { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/ForbiddenResponse' } } } }, 404: { description: 'Not found', content: { application/json: { schema: { $ref: '#/components/schemas/NotFoundResponse' } } } }, 412: { description: 'Precondition failed', content: { application/json: { schema: { $ref: '#/components/schemas/PreconditionFailedResponse' } } } } }
  /api/invoices:
    get:
      tags: [Invoice]
      summary: 'List invoices'
      description: "Required permissions:\n- **invoices.view**: allows view of invoices for projects where the user is PM or Account.\n- **invoices.view_other**: allows view of all invoices.\n\n[Here the dedicated support page](https://support.wethod.com/finance/index/#invoices)."
      operationId: listInvoices
      parameters: [{ name: project_id, in: query, description: 'Filter items by the project_id field.', required: false, schema: { type: integer, default: null, minimum: 1 } }, { name: issue_date, in: query, description: 'Filter items by the issue_date field.', required: false, schema: { type: string, format: date, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { name: payment_date, in: query, description: 'Filter items by the payment_date field.', required: false, schema: { type: string, format: date, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { name: limit, in: query, description: 'The number of items to include in the response.', required: false, schema: { type: integer, default: 100, maximum: 100, minimum: 1 } }, { name: offset, in: query, description: 'The offset of the first returned item.', required: false, schema: { type: integer, default: 0, minimum: 0 } }, { name: updated_at, in: query, description: 'Filter items by the updated_at field.', required: false, schema: { type: string, format: date-time, default: null }, x-operators: [{ summary: Equal, usage: 'eq:{value}', description: null }, { summary: 'Not equal', usage: 'neq:{value}', description: null }, { summary: 'Greater than', usage: 'gt:{value}', description: null }, { summary: 'Greater than or equal', usage: 'gte:{value}', description: null }, { summary: 'Less than', usage: 'lt:{value}', description: null }, { summary: 'Less than or equal', usage: 'lte:{value}', description: null }, { summary: 'In list', usage: 'in:{value_1},{value_2},{value_3}', description: null }, { summary: 'Not in list', usage: 'nin:{value_1},{value_2},{value_3}', description: null }, { summary: Between, usage: 'bt:{value_min},{value_max}', description: 'The given values are inclusive.' }] }, { $ref: '#/components/parameters/CompanyHeader' }, { $ref: '#/components/parameters/ApiVersionHeader' }]
[...]
